.macnav{
	position: fixed;
	bottom: 0px;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 16px;
}

.macnav ul.macnav-list{
	list-style-type: none;
	height: 80px;
	max-width: 90%;
	width: auto;
	background: rgba(0,0,0,0.7);
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items: center;
    align-content:center;
}

.macnav ul.macnav-list li.macnav-list-item{
	
	flex: flex-shrink;
	font-size:250%;
	padding-right: 25px;
	color: red;
}
.macnav ul.macnav-list li.macnav-list-item span{
	-webkit-transition: all .1s ease-out .1s;
	-moz-transition: all 1s ease-out .1s;
	-o-transition: all 1s ease-out .1s;
	transition: all .1s ease-out .1s;
}
.macnav ul.macnav-list li.macnav-list-item span:hover{
	-webkit-transition: all .1s ease-out .1s;
	-moz-transition: all 1s ease-out .3s;
	-o-transition: all 1s ease-out .3s;
	transition: all .1s ease-out .1s;
	/*transition-duration: 1s;
	font-size: 80px;*/
	transform: scale(2) translateY(-10px);
	margin: 0px 10px;

}
